/* Global */

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    font-family          : 'Oswald', sans-serif;
    /*Tipo de Letra descargado desde la página de google*/
    background-color     : black;
    /* Pattern from https://www.heropatterns.com/ */
    background-image     : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color                : #1e272e;
    color                : #fff;
    font-size            : 16px;
}

a {
    color          : #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Atributos que se aplican a la etiqueta con nombre de clase "container" */

.container {
    width                  : 90%;
    /*Margen del contenedor: */
    margin                 : auto;
}


/*Navigation*/


/*A la etiqueta que se le designo el nombre de la clase "nav-main" se le corresponderán los siguientes atributos: */

.nav-main {
    font-size      : 17px;
    display        : flex;
    /* Hace que el texto se ubique al lado derecho de la imagen*/
    justify-content: space-between;
    /*Ocupar todo el ancho disponible*/
    align-items    : center;
    height         : 60px;
    padding        : 20px 0;
}

/* Reducir el tamaño del logo, reduciendo el tamaño de la etiqueta con el nombre de clase "nav-brand" */
.nav-brand {
    width: 50px;
}

/*NavBar Left*/
/* Permite ajustar el tamaño de la lista de elementos en el ul, para que quepan uno al lado del otro y no se organicen en una lista vertical. */
.nav-main ul {
    display: flex;
}

/* Permite asignar un tamaño de separación entre los elementos il dentro de los ul que se encuentran en la clase nav-main */
.nav-main ul li {
    padding: 10px;
}

/* Permite definir una distancia de separación para los enlaces dentro de los li en los lu dentro de la clase nav-main */
.nav-main ul li a {
    padding: 2px;
}

/* Darle un color a los enlaces de las etiquetas li que se encuentran dentro de los ul de la clase nav-main */
.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

/* definir la distancia entre el logo y la lista de elementos de la clase "nav-menu" en el ul, que corresponde con el menú de la barra de navegación de clase "nav-main" */
.nav-main ul.nav-menu {
    flex       : 1;
    margin-left: 20px;
}

/* configurar el ícono de menú (3 lineas) para la barra de navegación */
.menu-btn {
    position           : absolute;
    cursor             : pointer;
    top                : 15px;
    right              : 30px;
    /* Inicializar con Ocultar este Elemento: */
    display         : none;
    /*  */
    z-index            : 2;
    font-size          : 1.5rem;
}

hr {
    margin: 10px 0;
}

/* SHOWCASE */
.showcase {
    width          : 100%;
    height         : 550px;
    background     : url(../img/showcase2.jpg) no-repeat center center/cover;
    /* Hacer que la imagen aparezca ajustándose a las dimensiones de la clase.*/
    padding        : 50px;
    margin-bottom  : 20px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-end;
    /*Ubicar el contenido en la parte inferior de la imagen de la clase*/
}

.btn {
    cursor          : pointer;
    display         : inline-block;
    border          : 0;
    font-weight     : bold;
    padding         : 10px 20px;
    background-color: #262626;
    color           : white;
    font-size       : 15px;
    border          : 1px solid #ffffff;
    margin          : 10px 0;
}

/*Darle al botón con el ícono >> la capacidad de interactuar con el mouse y recibir opacidad.*/
.btn:hover {
    opacity: .7;
}

.showcase h2.showcase p {
    margin-bottom: 10px;
}

/*NEWS CARDS*/
.news-cards {
    display                 : grid;
    grid-template-columns   : repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap                     : 25px;
    margin                  : 10px 0;
}

.news-cards img {
    width : 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin   : 10px 0;
}

.news-cards a {
    padding       : 10px 0;
    color         : #f2f2f2;
    text-transform: uppercase;
    display       : inline-block;
    font-weight   : bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

/*CARDS BANNER ONE*/
.cards-banner-one {
    width        : 100%;
    height       : 350px;
    background   : url(../img/tech-red.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content {
    width  : 40%;
    padding: 90px 0 0 30px;
    color  : #ffffff;
}

.cards-banner-one p,
.cards-banner-one h2 {
    margin: 10px 0 20px 0;
}

/*CARDS BANNER TWO*/
.cards-banner-two {
    width     : 100%;
    height    : 350px;
    background: url(../img/image-five.jpg) no-repeat center center/cover;
}

.cards-banner-two .content {
    width  : 50%;
    padding: 100px 0 0 30px;
}

/*Social*/
.social {
    margin: 50px;
}

.social p {
    text-align   : center;
    font-size    : 30px;
    margin-bottom: 20px;
}

.links {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/* FOOTER LINKS */
.footer-links {
    background: #2f3640;
    color     : #616161;
    font-size : 12px;
    padding   : 35px 0;
}

/* Propiedades de la clase footer-container en el pie de página:
    - 4 Columnas
 */
.footer-container {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    gap                  : 10px;
    align-items          : flex-start;
    justify-content      : center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-links li {
    line-height: 2.8;
}

.footer-links li a:hover {
    text-decoration: underline;
}


.footer-copyright {
    background    : #2f3640;
    color         : #616161;
    font-size     : 12px;
    padding       : 20px 0;
    text-align    : center;
    padding-bottom: 20px;
}

/* Móvil */

/* Adaptaciones para las dimensiones de la pantalla:*/
/* Condicional: Cuando las dimensiones del ancho sean inferiores a los 700p*/
@media(max-width:700px) {
    /* Este elemento es el botón de las 3 lineas para que aparezca el menú en la barra lateral izquierda y se inicializó como oculto, al reducir el tamaño de la pantalla a menos de 700 pxeles se volverá visible mientras no se cumpla la condición de superar el ancho de la pantalla. */
    .menu-btn{
        display: block;
    }
    /*, cambiar el fondo de la página a rojo */
    /* body{background: red;} */

    /* Cambiar la cantidad de columnas de tarjetas de noticias en la clase new-cards */
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Cambiar la relación del ancho del contenedor con respecto a la clase */
    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 80%;
    }

    /* Cambiar la cantidad de columnas de texto para la lista de enlaces en el pie de página */
    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Crear nueva estética para la barra de navegación */
    .nav-main ul.nav-menu {
        display   : block;
        position  : absolute;
        top       : 0;
        left      : 0;
        background: #2f3640;
        height    : 100%;
        padding   : 30px;
        opacity   : .9;
        /* Desplazar en X */
        transform : translateX(-400px);
        /* añadir efectos de transición y movimiento */
        transition: transform .5s ease-in-out;
    }

    /* cuando aparezca una nueva clase llamada show => el translatex dejará de ser -400px y será de -20px */
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    /* Cambiar el estilo de la fuente de los enlaces en la barra de menú de navegación */
    .nav-main ul.nav-menu li {
        padding         : 20px;
        /* Líneas divisorias de botones. */
        /* border-bottom: #ccc solid 1px; */
        font-size       : 14px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }
}

/* Condicional: Cuando las dimensiones del ancho sean inferiores a los 500p*/
@media(max-width:500px) {
    /*, cambiar el fondo de la página a rojo */
    /* body{background: red;} */

    /* hacer que solo aparezca una columna para las noticias en la clase news-cards */
    .news-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Darles una ampliación a las imágenes para que ocupen el mayor espacio que puedan */
    .news-cards img {
        height: 270px;
    }

    /* Modificar las dimensiones de las imágenes en los banners */
    .cards-banner-one .content,
    .cards-banner-two .content {
        width  : 100%;
        padding: 60px 20px;
    }

/* Definir una sola columna para la lista de los enlaces en el pie de cabecera. */
    .footer-links .footer-copyright{
        grid-template-columns: 1fr;
    }
}